@model List<MVC_HotelBooking.Models.DatPhong>

@{
    ViewData["Title"] = "Giỏ hàng đặt phòng";
    decimal tongTien = 0;
}

<h2 class="text-center my-4">🛒 Giỏ hàng đặt phòng</h2>

@if (Model.Count == 0)
{
    <div class="alert alert-info text-center">
        Giỏ hàng của bạn đang trống.
    </div>
}
else
{
    <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Mã đặt phòng</th>
                <th>Mã phòng</th>
                <th>Ngày nhận</th>
                <th>Ngày trả</th>
                <th>Số người</th>
                <th>Trạng thái</th>
                <th>Tiền thanh toán</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                tongTien += item.TongTien ;

                <tr>
                    <td>@item.MaDP</td>
                    <td>@item.MaP</td>
                    <td>@item.ThoiGianCheckIn.ToString("dd/MM/yyyy")</td>
                    <td>@item.ThoiGianCheckOut.ToString("dd/MM/yyyy")</td>
                    <td>@item.SoNguoi</td>
                    <td>
                       @item.TrangThai
                    </td>
                    <td>@item.TongTien.ToString("N0") VNĐ</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-end mt-4">
        <h4>Tổng tiền: <span class="text-danger">@tongTien.ToString("N0") VNĐ</span></h4>
    </div>
}